
.iconColor{
  color: white !important;

}
.headerCss{
  padding-top: 1rem;
  padding-left: 4rem;
  font-size: 1.5rem;
}
.sw-sidenav{
    background-color: rgb(3, 23, 43);
  }
  .mat-list-base .mat-list-item {
    color: rgba(255, 255, 255, 0.87);
}
.mat-toolbar.mat-primary {
    background: #ffffff;
    color: white;
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
 
