
.iconColor{
  color: white !important;

}
.headerCss{
  padding: 1.2rem 0 1.5rem 4rem;
  font-size: 1.5rem;
  background-color: #091622;
}
.sw-sidenav{
    background-color: #1e3042;
  }
  .mat-list-base .mat-list-item {
    color: rgba(255, 255, 255, 0.87);
}
.mat-toolbar.mat-primary {
    background: #ffffff;
    color: white;
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
 
