<div class="h-100 sw-sidenav">
    <div class="iconColor headerCss">LOGO</div>
    <mat-list>
        <mat-list-item>
            <mat-icon class="iconColor">dashboard</mat-icon>
            Dashboard
        </mat-list-item>
        <mat-list-item> STATS</mat-list-item>
        <mat-list-item> REPORT</mat-list-item>
        <mat-list-item> ACTION</mat-list-item>
        <mat-list-item>
            <mat-icon class="iconColor mr-2"> near_me</mat-icon>
            Pincode
        </mat-list-item>
        <mat-list-item>
            <mat-icon class="iconColor mr-2"> location_on</mat-icon>
            Address check
        </mat-list-item>
        <mat-list-item>
            <mat-icon class="iconColor mr-2">update</mat-icon>OTP
        </mat-list-item>
        <mat-list-item> EVENT TRACKING</mat-list-item>

    </mat-list>
</div>